.sliders {
  width: 400px;
}

.slider {
  display: flex;
  align-items: center;
  user-select: none;
}

.range {
  -webkit-appearance: none;
  width: 300px;
  height: 10px;
  background-color: #eee;
  border-radius: 20px;
  outline: none;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  background-color: #0081f1;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.num {
  font-size: 48px;
  margin-left: 30px;
  color: #282b31;
}
